<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>

  <div class="mdl-cell mdl-cell--6-col">

    <form action="/cars" method="post">
      <h1>Add a car:</h1>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="year" id="year">
        <label class="mdl-textfield__label" for="year">Year</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="car_make" id="car_make">
        <label class="mdl-textfield__label" for="car_make">Make</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="car_model" id="car_model">
        <label class="mdl-textfield__label" for="car_model">Model</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="nickame" id="nickname">
        <label class="mdl-textfield__label" for="nickname">Nickname</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="mileage" id="mileage">
        <label class="mdl-textfield__label" for="mileage">Mileage</label>
      </div>
      <br>
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Add car">
    </form>

  </div>

  <div class="mdl-cell mdl-cell--3-col"></div>
</div>
