<div class="mdl-typography--text-center">
  <h1>Welcome to Blauto!</h1>
  <p>Track your car's services and gas mileage.</p>
  <p>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Login
    </a> or <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Sign up
    </a>
  </p>
</div>
