<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blauto</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
