<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blauto</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-green.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">blauto</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">

            <% if logged_in? %>
              <a class="mdl-navigation__link" href="/users/<%= current_user.slug %>">
                <i class="material-icons">account_circle</i>
              </a>
              <a class="mdl-navigation__link" href="/logout">Logout</a>
            <% else %>
              <a class="mdl-navigation__link" href="/login">Login</a>
              <a class="mdl-navigation__link" href="/signup">Sign up</a>
            <% end %>

          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">blauto</span>
        <nav class="mdl-navigation">

          <% if logged_in? %>
            <a class="mdl-navigation__link" href="/users/<%= current_user.slug %>">Account</a>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
          <% else %>
            <a class="mdl-navigation__link" href="/login">Login</a>
            <a class="mdl-navigation__link" href="/signup">Sign up</a>
          <% end %>

        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
